
.well {
    background: #1f1f1f;
    border-color: #1f1f1f;
	padding: 0%;
	padding-top: 4px;
	padding-left: 2%;
	padding-right: 2%;
	
}
blockquote{
	border-left: 5px;
	padding-top: 0%;
	padding-bottom: 0%;
	font-size: medium;
}
.lead {
	font-size: large;
}
#sidething{
	position: fixed;
    width: 400px;
    height:100%;
    background: #000000;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
    z-index: 1;
	float: left;
	border-right: 1px solid rgb(88, 88, 88);
}
#sidethingcontents{
	position: relative;
	top: 2%;
}
#therest{
	color: white;
	z-index: 0;
	float: left;
	width: 880px;
	margin-left: 400px;
	border-spacing: 16px;
	
}
#cardstable{
	display: table;
	margin: 8px;
}
td{
	margin: 32px;
}
#legacylist{
	margin-left: 16px;
	width: 850px;
}
#row1{
	display: table-row;
}
#row2{
	display: table-row;
}
#row3{
	display: table-row;
}
.halfcardcell{
	width: 50%; 
	/*border: 1px solid white;*/
}
.halfcardcard{
	height: 140px;
	margin: 8px;
	background-color: #1f1f1f;
	padding: 16px;
	border-radius: 4px;
}
#projcard{
	height: 220px;
	text-align: center;
}
#proj2block{
	display: table-cell;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 10px;
}
body{
	background-color: #000000;
	max-width: 1280px;
	margin: 0 auto; 
	width: 1280px;
}
.img-circle{
	position: relative;
	border-radius:50%;
	width:300px;
	height: 300px;
	left: 12.5%;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,.5);
}
#sidethingtextcontents{
	padding-left: 64px;
}

@media screen and (max-width: 1280px) {
	body {
		max-width: 960px;
	}
	#sidething{
		position: fixed;
		width: 256px;
	}
	.img-circle{
		width: 200px;
		height: 200px;
	}
	#therest{
		margin-left: 286px;
	}
	#sidethingtextcontents{
		padding-left: 12px;
	}
}
@media screen and (max-width: 900px) {
	#sidething{
		position: absolute;
		float: top;
		height: 100px;
		width: 100vw;
		align-content: center;
		align-items: center;
		align-self: center;
	}
	#sidethingcontents{
		width: 100%;
		align-content: center;
		align-items: center;
		align-self: center;
	}
	#sidethingtextcontents{
		width: 100%;
		align-content: center;
		align-items: center;
		align-self: center;
	}
	#therest{
		margin-top: 300px;
		margin-left: 5vw;
		width: 90vw;
	}
	.img-circle{
		float: right;
		top: 16px;
		left: -16px;
		width: 200px;
		height: 200px;
	}
}
@media screen and (max-width: 400px) {
	.img-circle{
		float: right;
		top: 16px;
		left: -16px;
		width: 100px;
		height: 100px;
	}
}